[project]
	description = Desktop app for stockmarket analysis
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/torrancee
[access "refs/for/refs/*"]
	read = group user/torrancee
	push = group user/torrancee
	label-Code-Review = -2..+2 group user/torrancee
	label-Verified = -1..+1 group user/torrancee
	rebase = group user/torrancee
	removeReviewer = group user/torrancee
	submit = group user/torrancee
[access "refs/heads/*"]
	read = group user/torrancee
	create = group user/torrancee
	push = +force group user/torrancee
	pushMerge = group user/torrancee
[access "refs/tags/*"]
	push = group user/torrancee
	push = +force group user/torrancee
